<div class="container">
    <div class="top-sticky">
      <mat-toolbar color="primary" class="main-toolbar">
        <mat-toolbar-row  class="main-toolbar-row">
          <a routerLink=""><mat-icon class="mat-icon">home</mat-icon></a>
          <span class="spacer"></span>
          <a routerLink="/musiclist"><mat-icon class="mat-icon right-icon" aria-hidden="false">folder</mat-icon></a>
          <a routerLink="/upload"><mat-icon class="mat-icon right-icon" aria-hidden="false">cloud_upload</mat-icon></a>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
<router-outlet></router-outlet>
</div>